{% extends "base2.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<section id="services">

   		<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">
   			
   				<h2 style="font-size:30px; letter-spacing: 6px;  word-spacing: 5px;" >{% trans "WHO ARE WE" %}</h2>
   			
   	   </div> <!-- end col-full -->
   	</div> <!-- end row -->

   	<div class="row servicess-content">

		
		<img height="2500" width="700" src="{% static "images/bgaboutus.jpg" %}" >

   	</div> <!-- end services-content -->   			
	
	<div class="row servicess-content">

    <p style="color:#FFFFFF; text-align:center">{% trans "iP2PGlobal is a fintech company that was established in 2015. Our aim is to disrupt any current status quo in the market by embracing and utilising newer technologies.  In 2015, we started iP2PMoney which utilised  peer-to-peer technology to disrupt the traditional personal loan market controlled by local financial institutions, 2017 saw us embracing Blockchain technology in order to allow us to provide a global and borderless P2P loan platform. iP2PGo is our second Blockchain project which we hope will provide a solution by simplying access to the crypto market for everybody." %}</p>
              	
	        <br>
		</div>
		
		<br>
		
		<br>
		<div style="text-align:center">
{% if request.path == '/en-us/' %}
            <button style="background-color:#00FF00; width:240px;text-align:left; padding-left:9px; font-size:12px; font-weight:bold" type="submit" name="register" value={% trans "Register/Download" %} onclick="location.href='{% url 'categories' %}'">{% trans "Register/Download" %}<img src="{% static "logo/android.png" %}" style
="height:50px; width:50px; "/></button>
            <button style="background-color:#00FF00; font-size:12px; font-weight:bold" type="submit" name="login" value={% trans "Login/Register" %} onclick="location.href='{% url 'login_categories' %}'">{% trans "Login/Register" %}<img src="{% static "logo/website_icon.png" %}" style="height:50px; width:50px; "/></button>
            {% elif request.path == '/id/' %}
           <button style="background-color:#00FF00; width:225px;text-align:left; padding-left:23px; font-size:12px; font-weight:bold" type="submit" name="register" value={% trans "Register/Download" %} onclick="location.href='{% url 'categories' %}'">{% trans "Register/Download" %}<img src="{% static "logo/android.png" %}" style
="height:50px; width:50px; "/></button>
            <button style="background-color:#00FF00; font-size:12px; font-weight:bold" type="submit" name="login" value={% trans "Login/Register" %} onclick="location.href='{% url 'login_categories' %}'">{% trans "Login/Register" %}<img src="{% static "logo/website_icon.png" %}" style="height:50px; width:50px; "/></button>
          {% elif request.path == '/zh-hans/' %}
            <button style="background-color:#00FF00; width:150px;text-align:left; padding-left:20px; font-size:12px; font-weight:bold" type="submit" name="register" value={% trans "Register/Download" %} onclick="location.href='{% url 'categories' %}'">{% trans "Register/Download" %}<img src="{% static "logo/android.png" %}" style="height:50px; width:50px; "/></button>
            <button style="background-color:#00FF00; width:150px;text-align:left; padding-left:20px;font-size:12px; font-weight:bold" type="submit" name="login" value={% trans "Login/Register" %} onclick="location.href='{% url 'login_categories' %}'">{% trans "Login/Register" %}<img src="{% static "logo/website_icon.png" %}" style="height:50px; width:50px; "/></button>
           {% elif request.path == '/vi/' %}
           <button style="background-color:#00FF00; width:250px;text-align:left; padding-left:9px; font-size:12px; font-weight:bold" type="submit" name="register" value
={% trans "Register/Download" %} onclick="location.href='{% url 'categories' %}'">{% trans "Register/Download" %}<img src="{% static "logo/android.png" %}" style="height:50px; width:50px; "/></button>
            <button style="background-color:#00FF00; width:250px; text-align:left; padding-left:6px; font-size:12px; font-weight:bold" type="submit" name="login" value={% trans "Login/Register" %} onclick="location.href='{% url 'login_categories' %}'">{% trans "Login/Register" %}<img src="{% static "logo/website_icon.png" %}" style="height:50px; width:50px; "/></button>
            {% endif %}
                </div>
                 
                
		

   	</div> <!-- end services-content -->   		
  
</section>
{% endblock %}
   	


