{% extends "base2.html" %}
{% load i18n %}
{% load static %}
{% block content %}
{% include "header.html" %}
<section id="services">
  <div class="overlay"></div>
     <div class="gradient-overlay"></div>
       <div class="row narrow section-intro with-bottom-sep animate-this">
           <div class="col-full">
              <h2 style="margin-top:200px;font-size:30px; letter-spacing: 6px;  word-spacing: 5px;" >{% trans "NET REVENUE SHARING" %}</h2>
             <p class="text-white">
               {% trans "Today's Total Earnings" %} - {{ today }}<br>
               {% trans "Dates are based on UTC timezone, which may vary from your local date" %} 
             </p>
             <p>   
               <div class="jumbotron bg-secondary">
                 <span class="text-white">{% trans "Total completed offers for today" %}: {{ offers }}</span>
                 {% if record %}
                   {% for rec in record %}
                     <h3 class="font-weight-bold">{{ rec.name }}: {{ rec.amt }}</h3> 
                   {% endfor %}
                 {% else %}
                   <h3 class="font-weight-bold">GO: 0</h3>
                   <h3 class="font-weight-bold">ETH: 0</h3>
                 {% endif %}
               </div>
             </p>

            </div>
        </div> <!-- end services-content -->
</section>
{% include "footer.html" %}
{% endblock %}
