{% extends "base2.html" %}
{% load i18n %}
{% load static %}
{% block content %}
{% include "header.html" %}
<section id="services">
        <div class="overlay"></div>
        <div class="gradient-overlay"></div>

        <div class="row narrow section-intro with-bottom-sep animate-this">
                <div class="col-full">

                <br><br><br><br><br><br><br><br><br>
             
               <h2 style="font-size:30px; letter-spacing: 6px;  word-spacing: 5px;" >{% trans "COMING SOON!" %}</h2>

            </div>
        </div> <!-- end services-content -->


</section>
{% include "footer.html" %}
{% endblock %}
