{% extends "base2.html" %}
{% load i18n %}
{% load static %}
{% block content %}
{% include "header.html" %}
<div style="padding-top:70px;">
<section id="services">
<br><br><br><br><br>
<div class="col-md-12" align="center">
   <h2 style="color:#00FF00;font-size:25px;letter-spacing: 6px;  text-align:center;word-spacing: 5px;" >{% trans "CLICK ICON BELOW TO LOGIN" %}</h2><br>
   {% if request.path == '/en-us/login_otc' %}
   <a href="http://otc.ip2pgo.com/en-us/app/otc/web"><img border="0"  style="padding-bottom:100px;" src="{% static "icon/logo_otc.jpg"%}" width="155" height="155"></a>
 <br><br>
   {% elif request.path == '/vi/login_otc' %}
   <a href="http://otc.ip2pgo.com/vi/app/otc/web"><img border="0"  style="padding-bottom:100px;" src="{% static "icon/logo_otc.jpg"%}" width="155" height="155"></a>
 <br><br>
   {% elif request.path == '/id/login_otc' %}
    <a href="http://otc.ip2pgo.com/id/app/otc/web"><img border="0"  style="padding-bottom:100px;" src="{% static "icon/logo_otc.jpg"%}" width="155" height="155"></a>
 <br><br>
   {% elif request.path == '/zh-hans/login_otc' %}
    <a href="http://otc.ip2pgo.com/zh-hans/app/otc/web"><img border="0"  style="padding-bottom:100px;" src="{% static "icon/logo_otc.jpg"%}" width="155" height="155"></a>
 <br><br>
    {% endif %}
   </div>
</div>
</section>

{% include "footer.html" %}
{% endblock %}
