{% block content %}
<section id="services">
<br><br>
<div class="alert alert-primary alert-dismissible text-dark align-middle fade show" style="align:center; width:100%" role="alert">
  <button type="button" class="close" style="width:100px; background-color:#000000;" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <h2 style="align:center; font-size:15px; font-weight:bold" >13th January 2019 <br> NOTICE </h2>
    <p style="color:#000000; ">The iP2PGO App and WebApp is undergoing maintainance for the day and may not be able to log in.</p>
    <p style="color:#000000; ">Sorry for the inconvenient.</p>
    <p style="color:#000000; ">Thank You.</p>
    </div>
</section>
{% endblock %}
