/*
 * ------------------------------------------------------------------- */



 /** Avenir
================================================================================ */

@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/avenirfont/AvenirLTStd-Light.otf");
  font-style: normal;
  font-weight: normal;
}
