{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
  <div class="col text-left">
    <h6><strong>Penawaran Jual #{{ offer_id }}</strong></h6>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>{{ buyer }}</p>
  </div>
  <div class="col">
    <p>Harga Penawaran/ 1{{ token }}</p>
  </div>
  <div class="col">
    <p style="color:#FFFFFF">{{ currency }}{{ offer_price }}</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>{{ rating }}</p>
  </div>
  <div class="col">
    <p>Jumlah Penawaran:</p>
  </div>
  <div class="col">
    <p style="color:#FFFFFF">{{ minimum.normalize }} - {{ maximum.normalize }}</p>
  </div>
</div>

<div class="row">
  <div class="col-4 text-left">
    <p>Bank</p>
  </div>
  <div class="col">
    <p style="color:#FFFFFF">{{ bank_name }}</p>
  </div>
</div>

<div class="row">
  <div class="col-4 text-left">
    <p>Nomor Rekening Bank</p>
  </div>
  <div class="col">
    <p style="color:#FFFFFF">{{ bank_account }}</p>
  </div>
</div>

<div class="row">
  <div class="col-4 text-left">
    <p>Nama Pemilik Rekening Bank</p>
  </div>
  <div class="col">
    <p style="color:#FFFFFF">{{ holder_name }}</p>
  </div>
</div>

<div class="row">
  <div class="col-4 text-left">
    <p>Jendela Pembayaran</p>
  </div>
  <div class="col">
    <p style="color:#FFFFFF">{{ payment_window }} menit</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <form method="post">
    {% csrf_token %}
      <input type="hidden" value="{{ offer_price }}" id="offer">
      <input type="hidden" value="{{ fees }}" id="fees">
      {{ form.amount.label }}<span class="text-warning">({{ token }})</span>
      {% render_field form.amount class="form-control form-control-sm" onkeyup="GetBuyPrices()" style="background-color:#000000; border:none; border-bottom:1px solid green; color:#FFFF00" id="amount" %}<br>

      <p>
        Jumlah yang harus dibayar:
        <span class="text-warning"> 
        {{ currency }}<input type="text" id="fiat" name="fiat" class="text-warning" style="background-color:#000000; border:none"> 
        </span>
      </p>
      <p>
       Jumlah yang diterima setelah biaya:
        <span class="text-warning"> 
        <input type="text" id="token" name="token" class="text-warning" style="background-color:#000000; border:none">{{ token }}
        </span>
      </p>
      <p>
        <input type="submit" class="btn btn-sm bg-primary" style="width:300px; border-radius:15px; color:#FFFFFF; font-weight:bold" value=BELI>
      </p>

    </form>
  </div>
</div>
{% endblock %}



