{% load static %}

<div class="container">
         <div class="panel panel-default">

         <div class="panel-heading">
         <b align="left">ETH Balance</b>
         </div>
	      <div class="panel-body">
	    <br>
             </div>

	<div class="panel-heading">
       <b align="left">Wallet Address</b>
        </div>

        <div class="panel-body">
	<input type="text"  id="myInput" style="color:black" value="1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2"><br><br>
        <a onclick="CopyPaste()" class="btn btn-info"><h5 style="color:white">Copy Address</h5></a>
	<br><br>
         </div>
</div>
</div>
