{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% load widget_tweaks %}
{% include "trademenu.html" %}
<a href="{% url 'sell_list' country token security_code crypto %}"></a>
<section id="tabs" >
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <br>
       <nav>
          <div class=" row">
  <div class="col">
  <div class="row mt-3">
    <h6 colspan="3" class="font-weight-bold text-success" style="padding-bottom:5px;width:100%; text-align:center; font-size:16px;">{% trans "SELLERS LIST" %} </h6>
     </div>
  </div><br>
</div><br>
         <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
           <a class="nav-item nav-link text-warning bg-dark" style="font-size:16px; letter-spacing: 1px;border-color:#000000" id="nav-myoffer-tab" data-toggle="tab" href="#nav-myoffer" role="tab" aria-controls="nav-myoffer" aria-selected="true">{% trans "My Offers" %}</a>
           <a class="nav-item nav-link active text-warning bg-dark " style="font-size:16px; letter-spacing: 1px;border-color:#000000" id="nav-marketoffer-tab" data-toggle="tab" href="#nav-marketoffer" role="tab" aria-controls="nav-maarketoffer" aria-selected="false">{% trans "Market Offers" %}</a>
         </div>
</nav>

<br>
{% if no_selllist and no_taken %}
 <span class="lbl5" > {% trans "Currently there are no offers, click the button below to create your offer." %}</span><br><br>
<a href="{% url 'create_sell_offer' country token security_code crypto %}"><button class="btn btn-labeled btn-success " style="color:#000000;font-weight:bold" type="submit" name="create"><span class="btn-label"><i class="fa fa-plus" style="font-size:25px;"></i></span>{% trans "Create Offer" %}</button></a>
{% else %}
<a href="{% url 'create_sell_offer' country token security_code crypto %}"><button class="btn btn-labeled btn-success " style="color:#000000;font-weight:bold" type="submit" name="create"><span class="btn-label"><i class="fa fa-plus" style="font-size:25px;"></i></span>{% trans "Create Offer" %}</button></a>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show" id="nav-myoffer" role="tabpanel" aria-labelledby="nav-myoffer-tab">
<table class="table table-striped table-borderless table-dark" style="margin-top:-20px;">
</a></h6>
<tr>
  <th colspan="3" class="font-weight-bold text-success" style="background-color:#000000;width:100%; text-align:center; font-size:16px;"> {% trans "My Offers" %} </th><br>
  </tr>
  <tr>
<div class="row mt-2">
{% for list in sell_offers|dictsort:"price_min" %}
{% if list.maker ==  username %}
   {% if list.maker == verified %}
   <td style="width:30%; color:#FFFFFF;"> <input type="hidden" value="{{ list.offer_id }}" /><b style="color::#FFFFFF;">{{ list.maker }}</b>
   {% else %}
   <td style="width:30%; color:#FFFFFF;"> <input type="hidden" value="{{ list.offer_id }}" /><b style="color:red;">{{ list.maker }}</b>
   {% endif %}
    {% if list.rating.normalize == 0 %}
     <button class="btn btn-block btn-danger btn-sm"  style="font-size:11px; text:align:center; padding-top:1px; max-width:130px; height:20px; " type="b
utton" >{% trans "New Trader" %}</button>
    {% elif list.rating.normalize >= 0.1 and list.rating.normalize < 1.5 %}
     <button class="btn btn-block btn-warning btn-sm"  style="font-size:11px; text:align:center; padding-top:1px; max-width:130px; height:20px; " type="
button" >{% trans "Average Trader" %}</button>
   {% elif list.rating.normalize >= 1.5 and list.rating.normalize < 2.5 %}
     <button class="btn btn-block btn-success btn-sm"  style="font-size:11px; text:align:center; padding-top:1px; max-width:130px; height:20px; " type="
button" >{% trans "Good Trader" %}</button>
   {% elif list.rating.normalize >= 2.5 and list.rating.normalize <= 3 %}
     <button class="btn btn-block btn-primary btn-sm"  style="font-size:11px; text:align:center; padding-top:1px; max-width:130px; height:20px;" type="b
utton" >{% trans "Excellent Trader" %}</button>
   {% endif %}
   {% if crypto == 'FIAT' %}
   <strong>{% trans "Prefers" %}</strong>
   <span style="color:#FFFFFF">{{ list.bank_name }}</span><br>
   {% endif %}
    <strong>{% trans "Offer ID:" %}{{ list.offer_id }}</strong>
    {% if list.limit_up %}<span style="color:#FF0000">LIMIT UP</span>{% endif %}
    <br>
    <strong style="color:#FFFFFF">{% trans "Offer Price" %}:</strong>
    {% if list.crypto == NULL %}
    <span style="color:#FFFFFF">{{ currency }}{{ list.price_min }} - {{ currency }}{{ list.price_max }}</span><br>
    {% else %}
    <span style="color:#FFFFFF">{{ list.price_min }} {{ list.crypto }} - {{ list.price_max }} {{ list.crypto }}</span><br>
    {% endif %}
    <strong style="color:#FFFFFF">{% trans "Token Amount:" %}</strong>
    <span style="color:#FFFFFF">
      {{ list.minimum }} - {{ list.maximum }} {{ token }}
    </span><br>
    </div>
   </td>


   <td class="align-middle" style="width:25%;">
      <a href="{% url 'editing' country token security_code 'sell' list.offer_id crypto %}" style="color: #d89000">
      <button class="btn btn-block btn-warning btn-sm"  style="font-weight:bold; float:right;font-size:15px; width:75px; height:40px; " type="button" >{% trans "Edit" %}</button>
      </a>
</td>
</tr>
{% else %}
{% endif %}
{% endfor %}
</table>
<table class="table table-striped table-borderless table-dark" style="margin-top:-20px;" >
<tr>
  <th colspan="3" class="font-weight-bold text-success" style="background-color:#000000; width:100%; text-align:center; font-size:16px;"> {% trans "My Active Trades" %} </th><br>
  </tr>
  <tr>
{% if crypto == 'FIAT' %}
{% for list in taken %}
   <td style="width:30%; color:#FFFFF;">
        <strong><span class="text-white">{% trans "Offer ID :" %}{{ list.offer_id }}</span></strong><br>
         <strong  class="text-white">{% trans "Trade Amount" %} : </strong><span  class="text-white">{{ list.amount }}</span><br>
        <strong  class="text-white">{% trans "Offer Price" %} :</strong><span  class="text-white"> {{ list.fiat }}{{ currency }}</span><br>
        <strong><span  class="text-white"> {% trans "Time" %} :</span></strong><span  class="text-white"> {{ list.datetime }}</span><br>
        <strong  class="text-white">{% trans "Status" %}</strong>&nbsp&nbsp
        {% if list.dispute %}
            <span class="text-danger">{% trans "DISPUTE" %}</span>
        {% else %}
            {% trans "TRADE" %}
        {% endif %}
        </td>
        <td class="align-middle" style="width:25%; text-align:center;">
        {% if list.dispute %}
          <a href="{% url 'chat' country token security_code list.offer_id crypto %}">
          <button class="btn btn-block btn-secondary btn-sm"  style="float:right;font-size:15px; width:75px; height:40px; " type="button">{% trans "Trade" %}</button>
          </a>
        {% else %}
          <a href="{% url 'payment_confirm' country list.token security_code list.offer_id crypto %}">
           <button class="btn btn-block btn-secondary btn-sm"  style="float:right;font-size:15px; width:75px; height:40px; " type="button">{% trans "Trade" %}</button>
          </a>
        {% endif %}
</td>
</tr>
{% endfor %}
{% endif %}

<tr>
{% if crypto != 'FIAT' %}
{% for list in taken %}
  {% if list.maker != username %}
   <td style="width:30%; color:#FFFFF;">
        <strong><span class="text-white">{% trans "Offer ID :" %}{{ list.offer_id }}</span></strong><br>
         <strong  class="text-white">{% trans "Trade Amount" %} : </strong><span  class="text-white">{{ list.amount }}</span><br>
        <strong  class="text-white">{% trans "Offer Price" %} :</strong><span  class="text-white"> {{ list.fiat }}{{ token }}</span><br>
        <strong><span  class="text-white"> {% trans "Time" %} :</span></strong><span  class="text-white"> {{ list.datetime }}</span><br>
        <strong  class="text-white">{% trans "Status" %}</strong>&nbsp&nbsp
        {% if list.dispute %}
            <span class="text-danger">{% trans "DISPUTE" %}</span>
        {% else %}
            {% trans "TRADE" %}
        {% endif %}
        </td>
        <td class="align-middle" style="width:25%; text-align:center;">
        {% if list.dispute %}
          <a href="{% url 'chat' country token security_code list.offer_id crypto %}">
          <button class="btn btn-block btn-secondary btn-sm"  style="float:right;font-size:15px; width:75px; height:40px; " type="button">{% trans "Trade" %}</button>
          </a>
        {% else %}
          <a href="{% url 'otc_confirm' country list.token security_code list.offer_id crypto %}">
           <button class="btn btn-block btn-secondary btn-sm"  style="float:right;font-size:15px; width:75px; height:40px; " type="button">{% trans "Trade" %}</button>
          </a>
        {% endif %}
</td>
 {% endif %}
</tr>
{% endfor %}
{% endif %}
</table>
</div>

<div class="tab-pane fade show active" id="nav-marketoffer" role="tabpanel" aria-labelledby="nav-marketoffer-tab">
<table class="table table-striped table-borderless table-dark" style="margin-top:-20px;">
</a></h6>
<tr>
  <th colspan="3" class="font-weight-bold text-success" style="background-color:#000000; width:100%; text-align:center; font-size:16px;"> {% trans "Market Offers" %} </th><br>
  </tr>
  <tr>
<div class="row mt-2">
{% for list in sell_offers|dictsort:"price_min" %}
  {% if list.maker == verified %}
   <td style="width:30%; color:#FFFFF;"> <input type="hidden" value="{{ list.offer_id }}" /><b style="color:#FFFFFF">{{ list.maker }}</b>
  {% else  %}
  <td style="width:30%; color:#FFFFF;"> <input type="hidden" value="{{ list.offer_id }}" /><b style="color:red">{{ list.maker }}</b>
  {% endif %}
   {% if list.rating.normalize == 0 %}
     <button class="btn btn-block btn-danger btn-sm"  style="font-size:11px; text:align:center; padding-top:1px; max-width:130px; height:20px; " type="b
utton" >{% trans "New Trader" %}</button>
    {% elif list.rating.normalize >= 0.1 and list.rating.normalize < 1.5 %}
     <button class="btn btn-block btn-warning btn-sm"  style="font-size:11px; text:align:center; padding-top:1px; max-width:130px; height:20px; " type="
button" >{% trans "Average Trader" %}</button>
   {% elif list.rating.normalize >= 1.5 and list.rating.normalize < 2.5 %}
     <button class="btn btn-block btn-success btn-sm"  style="15px;font-size:11px; text:align:center; padding-top:1px; max-width:130px; height:20px; " type="
button" >{% trans "Good Trader" %}</button>
   {% elif list.rating.normalize >= 2.5 and list.rating.normalize <= 3 %}
     <button class="btn btn-block btn-primary btn-sm"  style="font-size:11px; text:align:center; padding-top:1px; max-width:130px; height:20px;" type="button" >{% trans "Excellent Trader" %}</button>
   {% endif %}
   {% if list.verified_offer == True %}
   <b style="color:green">{% trans "* for Verified Users only *" %}</b>
    {% endif %}<br>
   {% if crypto == 'FIAT' %}
   <strong style="color:#FFFFFF">{% trans "Prefers:" %}</strong>
   <span style="color:#FFFFFF">{{ list.bank_name }}</span><br>
   {% endif %}
    <strong style="color:#FFFFFF">{% trans "Offer ID:" %}{{ list.offer_id }}</strong>
    {% if list.limit_up %}<span style="color:#FF0000">LIMIT UP</span>{% endif %}
    <br>
    <strong style="color:#FFFFFF">{% trans "Offer Price" %}:</strong>
    {% if list.crypto == NULL %}
    <span style="color:#FFFFFF">{{ currency }}{{ list.price_min }} - {{ currency }}{{ list.price_max }}</span><br>
    {% else %}
    <span style="color:#FFFFFF">{{ list.price_min }} {{ list.crypto }} - {{ list.price_max }} {{ list.crypto }}</span><br>
    {% endif %}
    <strong style="color:#FFFFFF">{% trans "Token Amount:" %}</strong>
    <span style="color:#FFFFFF">
      {{ list.minimum }} - {{ list.maximum }} {{ token }}
    </span><br>
   </td>
 <td class="align-middle" style="width:25%; text-align:center;">
      {% if list.maker == username %}
      <a href="{% url 'buying' country token security_code list.offer_id crypto %}" style="color: #5cb85c">
     <button class="btn btn-block btn-primary btn-sm"  style="float:right;font-size:15px; width:75px; height:40px; " type="button" disabled>{% trans "Take" %}</button>
      </a>
     {% else %}
     <a href="{% url 'buying' country token security_code list.offer_id crypto %}" style="color: #5cb85c">
     <button class="btn btn-block btn-primary btn-sm"  style="float:right;font-size:15px; width:75px; height:40px; " type="button">{% trans "Take" %}</button>
      </a>
    {% endif %}
</td>
</tr>
{% endfor %}
{% endif %}
  </table>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}
