{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div style="  background-size: cover; overflow: hidden;">

  <br><br><br><br><br>
  <h2 style=" font-size:20px;" >{% trans "Please click social icon below to join our support group chat. " %}</h2>

<div class="social">
    <a href="https://t.me/joinchat/Ix0hhBHgFuDjazDWdMMJ7Q" class="link telegram" target="_parent"><span class="fa fa-telegram"></span></a>
  <a href="https://chat.whatsapp.com/2O9csE2KsYd4DlOQUTpHqz" class="link whatsapp" target="_parent"><span class="fa fa-whatsapp"></span></a>
  <a href="http://m.me/ip2pgo" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>


</div>

</div>

{% endblock %}
